

  .Home-button {
    background-color: cornsilk; /* Green */
    border: none;
    color:black;
    padding: 15px 32px;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
  
  .Home-button:not(:last-child) {
    border-bottom: none; }
  
  .Home-button:hover {
    background-color: aliceblue;
  }

  .ngoChild{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 380px;
  }
 


  