.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-headerbutton{
  margin: 1vw 1.3vw;
  background-color:white;
  border:none;
  text-shadow: black;
  font-family: ui-monospace;
  /*font-size: 20px;*/
  padding: 14px 40px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:white;
  box-shadow: 0 5px #666;
  
} 

.bg-img{
 
 /* background-image: url('./images/homepic.jpg');*/
  height: 400px;
}

.login-form{
  position: center;
  width: 400px;
  padding: 8px 40px;
  margin: auto;
  height: 500px;
  background-color:whitesmoke;
  
}
.register-user{
  position: center;
  width: 800px;
  padding: 10px 40px;
  margin: auto;
  height: 1000px;
  background-color:whitesmoke;
}


body {
 /* background-color:antiquewhite;*/
  /*background-color: #e9ecef;*/
  background-color:#f7f7f7;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.button {
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
 /* text-shadow: 2px 2px #ff0000;*/
  border-radius: 8px;
  width: 10%;
  font-size: 18px;
  background:white;
  animation: mymove 5s infinite;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@keyframes mymove {
  from {background-color: rgba(255, 0, 0, 0.411);}
  to {background-color:yellow;
  }
}


.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

h1 {
  text-shadow: 2px 2px 5px red;
}

/*
.btnn{width: 100px;
height: 100px;
background: red;
position: relative;
animation: mymove 5s infinite;
}

@keyframes mymove {
0%   {top: 0px; background: red; width: 100px;}
100% {top: 200px; background: yellow; width: 300px;}
}*/
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* button on image*/
.container {
  position: absolute;

}

.container img {
  width: 1570px;
  height: 700px;
}

.container .btn {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:pink;
  box-shadow: 0 5px #666;
}

.container .btn1 {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:pink;
  box-shadow: 0 5px #666;
}

.container .btn:hover {
  background-color: black;
  color: white;
}
/*text over an image*/
.centered {
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/*for login page*/
.container1 {
  position: absolute;

}

.container1 img {
  width: 1580px;
  height: 700px;
}

.container1 .btn {
  position: absolute;
  top: 70%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:pink;
  box-shadow: 0 5px #666;
}

.container1 .btn1 {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:pink;
  box-shadow: 0 5px #666;
}

.container1 .btn:hover {
  background-color: black;
  color: white;
}

.centered1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*vertical*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #0f0d0d;
  position: fixed;
  height: 80%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 12px;
  text-decoration: none;
}

li a.active {
  background-color: #0f0f0f;
  color:white;
  
}

li a:hover:not(.active) {
  background-color: #555;
  color: rgb(22, 20, 20);
}
/*header*/
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/*home ngo tex*/
.text{
   margin-left:25%;
   padding:1px 16px;
   height:600px;
}

/*homeparent*/
.container2 {
  position: left;

}

.container2 img {
  width: 1400px;
  height:600px;
}

.container2 .btn {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:pink;
  box-shadow: 0 5px #666;
}

.container2 .btn1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:gold;
  box-shadow: 0 5px #666;
}

.container2 .btn:hover {
  background-color: black;
  color: white;
}
/*text over an image*/
.centered2 {
  position: absolute;
  top: 40%;
  left: 40%;
  font-family:"Papyrus","Copperplate","Fantasy";
  transform: translate(-50%, -50%);
}
.centered3 {
  position: absolute;
  top: 40%;
  left: 45%;
  font-family:"Papyrus","Copperplate","Fantasy";
  transform: translate(-50%, -50%);
}

/*guidlines*/
.text{
  margin: auto;
  width:69%;
  padding: 10px;
  text-align: justify;
  width:69%;
  height: 180;
  background-image: url('./images/images1.jpg');
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;

}
.jumbotron {
  background-image: url("/src/images/mom.jpg");
  background-size: cover;
}
.push-spaces
{
    height: 100px;
}

.text1{
  margin: auto;
  width:69%;
  padding: 10px;
  text-align: justify;
  width:69%;
  height: 180%;
  background-image: url('./images/a2.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 180px;
  margin-right: 100px;
  margin-left: 120px;
  text-align: justify;
}
.text11{
  margin: auto;
  width:69%;
  padding: 10px;
  text-align: justify;
  width:69%;
  height: 180%;
  background-image: url('./images/a1.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 180px;
  margin-right: 100px;
  margin-left: 120px;
  text-align: justify;
}

.container3 {
  position: absolute;
}

.container3 img {
  position :fixed;
  width: 1600px;
  height: 700px;
}
/*button*/
/*.container0 .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:rgb(26, 16, 18);
  box-shadow: 0 5px #666;
}*/
/*signout*/
.container2 .btn {
  position: absolute;
  top: 13.5%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:rgb(26, 16, 18);
  box-shadow: 0 5px #666;
}
/*button*/
.container0 .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:rgb(26, 16, 18);
  box-shadow: 0 5px #666;
}

/*card*/
.container9 .btn {
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(12, 11, 11, 0.24), 0 17px 50px 0 rgba(238, 9, 9, 0.836);
  background-color:rgb(13, 192, 28);
  box-shadow: 0 5px #666;
}
/*donation*/

.text12{
  margin: auto;
  width:69%;
  padding: 70px;
  text-align: justify;
  width:99%;
  height: 290%;
  background-image: url('./images/d1.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 220px;
  text-align: justify;
}
.text13{
  margin: auto;
  width:69%;
  padding: 70px;
  text-align: justify;
  width:79%;
  height: 290%;
  background-image: url('./images/e1.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 220px;
  text-align: justify;
}
.text14{
  margin: auto;
  width:69%;
  padding: 70px;
  text-align: justify;
  width:79%;
  height: 290%;
  background-image: url('./images/m3.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 220px;
  text-align: justify;
}

.text15{
  margin: auto;
  width:69%;
  padding: 70px;
  text-align: justify;
  width:79%;
  height: 290%;
  background-image: url('./images/food.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 220px;
  text-align: justify;
}
.text16{
  margin: auto;
  width:69%;
  padding: 70px;
  text-align: justify;
  width:79%;
  height: 290%;
  background-image: url('./images/o1.jpg');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat, repeat;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 80px;
  margin-right: 100px;
  margin-left: 220px;
  text-align: justify;
}

